<!--
    The same navbar as the one from
    the previous project.
-->
<div class="navbar">
    <div class="functions">
        <img class="UPM-pic" src="../../assets/institucional.png"> U.P.M / UFO Battle

        <a class="Home-button" routerLink="/home" routerLinkActive="active">
            Home
            <img class="home-img" src="../../assets/home.png">
        </a>

        <a class="Home" routerLink="/preferences" routerLinkActive="active">
            Preferences 
            <img class="home-img" src="../../assets/setting.png">
        </a>

        <a class="Home" routerLink="/play" routerLinkActive="active">
            Play
            <img class="home-img" src="../../assets/play-button-arrowhead.png">
        </a>

        <a class="Home" routerLink="/records" routerLinkActive="active">
            Records
            <img class="home-img" src="../../assets/vinyl.png">
        </a>
    </div>

    <div class="register-login">
        <a class="RegisterLogin" routerLink="/register" routerLinkActive="active">
            Register
            <img class="home-img" src="../../assets/user.png">
        </a>

        <a class="RegisterLogin" routerLink="/login" routerLinkActive="active">
            Login
            <img class="home-img" src="../../assets/enter.png">
        </a>
    </div>
</div>
