<!--
    Same html as the previous one.
    Only added a few more buttons and
    changed the structure a little.
-->
<div class="information">
    <h2>Welcome to UFO Battle!</h2>
    <p>
        Get ready for an exciting UFO Battle! Take control of your spaceship, eliminate UFOs, and aim for the high score.
    </p>
    <p>
        <strong>How to Play:</strong> Use the arrow keys to move your spaceship. Press the spacebar to shoot missiles and
        defend against the UFO invasion. Aim carefully to hit as many UFOs as possible.
    </p>
    <p>
        <strong>Objective:</strong> Score points by shooting down UFOs. Be strategic and avoid getting hit. Your mission is
        to achieve the highest score and secure your place in the Records!
    </p>
    <a class="startButton" href="#" routerLink="/preferences" routerLinkActive="active">Start now!</a>
    <a class="startButton" href="#" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="startButton" href="#" routerLink="/register" routerLinkActive="active">Register</a>
</div> 
